<ion-view title="Bebidas">
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Busqueda"
                       ng-model="bebida.busqueda">
            </label>
            <label class="item">
                <button class="button button-block button-positive"
                        ng-click="buscar()"
                        >
                    Buscar bebida por nombre
                </button>

            </label>
            <label class="item">
                <button class="button button-block button-positive"
                        ng-click="buscarPrecio()"
                        >
                    Buscar bebida por precio
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>